.category {
    font-family: 'Franklin Gothic Medium';
    font-size: 20px;
}

p.channel {
    left: 18px;
    position: relative;
    padding: 0;
    font-size: 17px;
}

.open-channel {
    background-color: blanchedalmond;
}

#channels {
    top: 50px;
    left: 70px;
    width: 250px;
    background-color: rgb(43 42 48);
    height: 90%;
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    color: rgb(177, 177, 177);
}

.unread-message {
    color: white;
}

.mention {
    background-color: rgb(107, 107, 235);
    color: rgb(209, 209, 209)
}

.mention-new {
    position: relative;
    left: 5px;
    background-color: red;
    width: 11px;
    height: 11px;
    border-radius: 25px;
    padding: 5px 10px 0 0;
}