.category {
    font-family: 'Franklin Gothic Medium';
    font-size: 20px;
}

.channel {
    left: 18px;
    position: relative;
    padding: 0;
    font-size: 17px;
    padding: 0 0 10px 0;
}

.channel > img {
    position: relative;
    top: 3.5px;
    width: 17px;
}

.channel > span {
    margin: 0 8px;
}

.open-channel {
    background-color: #42464D;
    width: 210px;
    border-radius: 5px;
    height: 22px;
}

#channels {
    top: 50px;
    left: 70px;
    width: 250px;
    background-color: #2F3136;
    height: 83%;
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    color: #9e9e9e
}

.unread-message {
    color: white;
}

.mention {
    background-color: rgb(107, 107, 235);
    color: rgb(209, 209, 209)
}

.mention-new {
    position: relative;
    left: 5px;
    background-color: red;
    width: 11px;
    height: 11px;
    border-radius: 25px;
    padding: 5px 10px 0 0;
}