#chat {
    top: 0;
    left: 340px;
    width: 45.5%;
    height: 98%;
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
}

#chat::-webkit-scrollbar {
    background-color: #6a6f79;
}
#chat::-webkit-scrollbar-thumb {
    background-color: rgb(41, 41, 41);
}

.avatar {
    border-radius: 25px;
}

.nick {
    display: inline-block;
    left: 5px;
    bottom: 23px;
    position: relative;
    font-size: 17px;
    font-weight: bold;
}

.content {
    display: inline-block;
    bottom: 20px;
    left: 45px;
    position: relative;
}

#user-input {
    width: 60%;
    position: absolute;
    bottom: 3px;
    left: 323px;
}

#input {
    color: rgb(206, 206, 206);
    background-color: #40444b;
    height: 20px;
    width: 76%;
}

.delete span.content {
    color: rgb(170, 0, 0);
}

.edit {
    font-size: 15px;
    color: grey;
}