#channel-members {
    position: absolute;
    background-color: #2F3136;
    height: 91.3%;
    width: 250px;
    right: 0;
    top: 50px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.member {
    position: relative;
    height: 50px;
    left: 5px;
}

.member span {
    position: relative;
    bottom: 46px;
    left: 48px;
    color: #bfbfbf;
}

.member-voice {
    margin: 5px 0px 0 26px;
}

.member-voice > span {
    position: relative;
    font-size: 15px;
    bottom: 7px;
    left: 8px;
}

.member-voice > img {
    width: 25px;
    border-radius: 25px;
}

.avatar {
    width: 40px
}

.status {
    position: relative;
    width: 11px;
    height: 11px;
    border-radius: 25px;
    bottom: 17px;
    left: 27px
}

.online {
    background-color: rgb(0, 197, 0);
}
.offline {
    background-color: #6B7581;
}
.invisible {
    background-color: #6B7581;
}
.idle {
    background-color: #FAA81A;
}
.dnd {
    background-color: #ED4245;
}