body {
    overflow-x: hidden;
}

#author {
    visibility: visible;
}

#main {
    visibility: hidden;
} 

::-webkit-scrollbar {
    background-color: rgb(41, 41, 41);
    width: 5px;
} ::-webkit-scrollbar-thumb {
    background-color: rgb(82, 82, 82);
}