body {
    overflow-x: hidden;
    background-color: #393f4b;
}

#main {
    visibility: hidden;
    position: absolute;
    height: 100%;
    top: 0;
    width: 100%;
    right: 0;
}

#display-settings {
    visibility: hidden;
}

#line-noname {
    background-color: rgb(43 42 48);
    height: 50px;
    position: relative;
    top: 0;
    left: 320px;
}

#line-noname > span {
    color: white;
    font-weight: bold;
}

#guild-line {
    background-color: rgb(43 42 48);
    position: absolute;
    left: 70px;
    width: 250px;
    height: 50px;
    color: white;
    font-weight: bold;
}

#guild-line > span {
    position: relative;
    top: 30%;
    left: 15px;;
}

::-webkit-scrollbar {
    background-color: rgb(43 42 48);
    width: 5px;
} ::-webkit-scrollbar-thumb {
    background-color: rgb(82, 82, 82);
}